<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p class="brief">This site was created by Ahemd Safwat Abdelfaheem.
                It uses data from mapbox.com and openweathermap.org</p>
            <H4>Tools</H4>
            <code><img width="15%"
                    src="https://www.vectorlogo.zone/logos/w3_html5/w3_html5-ar21.svg"></code>
            <code><img width="15%"
                    src="https://www.vectorlogo.zone/logos/netlifyapp_watercss/netlifyapp_watercss-ar21.svg"></code>
            <code><img width="15%"
                    src="https://www.vectorlogo.zone/logos/javascript/javascript-ar21.svg"></code>
            <br>
            <code><img width="15%"
                    src="https://www.vectorlogo.zone/logos/getbootstrap/getbootstrap-ar21.svg"></code>
            <code><img width="15%"
                    src="https://www.vectorlogo.zone/logos/jquery/jquery-ar21.svg"></code>
            <code><img width="15%"
                    src="https://www.vectorlogo.zone/logos/heroku/heroku-ar21.svg"></code><br>
            <code><img width="15%"
                    src="https://www.vectorlogo.zone/logos/git-scm/git-scm-ar21.svg"></code>
            <code><img width="15%"
                    src="https://www.vectorlogo.zone/logos/npmjs/npmjs-ar21.svg"></code>
            <code><img width="15%"
                    src="https://www.vectorlogo.zone/logos/expressjs/expressjs-ar21.svg"></code>
        </div>

        {{>footer}}
    </body>

</html>